/* apply a natural box layout model to all elements */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	height: 100%;
}

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
	margin: 0;
	padding: 0;
    width: 100%;
    height: 100%;
    background: url('../img/background.jpg');
    font-size: 1em;
	font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

img {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

/*
 * Page layout based on Steven Sanderson's full-height app layout:
 * http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/
*/
.row, .col { position: absolute; overflow: hidden; }
.row { right: 0; left: 0; }
.col { top: 60px; bottom: 0; }
.scroll-x { overflow-x: auto; -webkit-overflow-scrolling: touch; }
.scroll-y { overflow-y: auto; -webkit-overflow-scrolling: touch; }

.left.col { width: 300px; }
.right.col { right: 0; left: 300px; }
.header.row { height: 75px; }
.left .body { top: 0px; bottom: 201px; }
.right .body { top: 75px; bottom: 0px; }
.left .footer.row { bottom: 0; height: 201px; }

.container {
	position: relative;
	margin: auto;
	min-height: 100%;
	width: 900px;
	border-right: 1px solid #7b7b7b;
	border-left: 1px solid #7b7b7b;
	background: rgba(220, 220, 220, 0.9);
	-webkit-box-shadow: 0px 0px 25px -3px #232323;
	        box-shadow: 0px 0px 25px -3px #232323;
}

header {
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #616161;
	background: -webkit-linear-gradient(#e9e9e9, #b2b2b2);
	background:    -moz-linear-gradient(#e9e9e9, #b2b2b2);
	-webkit-box-shadow: inset 0px -1px 0px 0px #aeadae;
	        box-shadow: inset 0px -1px 0px 0px #aeadae;
}
header span.title {
	float: left;
	margin-top: 18px;
	color: #000;
	text-shadow: 1px 1px #fff;
	font-weight: bold;
	font-size: 15px;
}
header .logo {
	float: left;
	margin: 4px 15px;
}

.right .header {
	border-bottom: 1px solid #8e8e8e;
	background: -webkit-linear-gradient(#ededed, #d0d0d0);
	background:    -moz-linear-gradient(#ededed, #d0d0d0);
}
.right .body { background: #fff; }
.left { border-right: 1px solid black; background: #d8dce4; }
.left .footer { border-top: 1px solid #7b7b7b; }

.left h2 {
	margin: 16px 16px 8px 16px;
	color: #6a6c6d;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.750em;
}

.left ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0.750em;
}

.left li {
	padding: 0 20px;
	height: 20px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	line-height: 20px;
}

.left li:hover {
	border-top: 1px solid rgba(175, 185, 205, 0.5);
	border-bottom: 1px solid rgba(132, 146, 173, 0.5);
	background: -webkit-linear-gradient(rgba(176, 187, 212, 0.5), rgba(141, 156, 186, 0.5));
	background:    -moz-linear-gradient(rgba(176, 187, 212, 0.5), rgba(141, 156, 186, 0.5));
	cursor: pointer;
}
.left li.active {
	border-top: 1px solid rgb(175, 185, 205);
	border-bottom: 1px solid rgb(132, 146, 173);
	background: -webkit-linear-gradient(rgb(176, 187, 212), rgb(141, 156, 186));
	background:    -moz-linear-gradient(rgb(176, 187, 212), rgb(141, 156, 186));
	color: #fff;
}
.local-stream video {
	width: 100%;
}

.right .header .profilepic {
	float: left;
	margin: 13px;
	width: 50px;
	height: 50px;
	border: 1px solid #a7a7a7;
	background: #fff;
}

.right .header .title {
	float: left;
	margin-top: 28px;
	font-size: 13px;
}

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -8% 0 0 -13%;
	width: 250px;
	height: 135px;
	border: 1px solid #1e1e1e;
	-webkit-border-radius: 8px;
	        border-radius: 8px;
	background: rgba(51, 51, 51, 0.9);
	-webkit-box-shadow: 0px 0px 25px -3px #232323;
	        box-shadow: 0px 0px 25px -3px #232323;
	color: #fff;
}

.popup-title {
	display: block;
	padding: 2px 5px;
	width: 100%;
	height: 19px;
	border-bottom: 1px solid #1e1e1e;
	text-align: center;
	font-size: 11px;
}

.popup-name {
	display: block;
	padding: 25px 5px;
	width: 100%;
	height: 70px;
	text-align: center;
	font-size: 14px;
}

.popup .btn {
	padding: 3px 0;
	width: 96px;
	height: 25px;
}

.popup .btn:first-child { margin: 0 19px; }
.popup .btn { margin-bottom: 19px; }

.btn {
	display: inline-block;
	padding: 5px 20px;
	height: 30px;
	border: 1px solid #a3a3a3;
	  -webkit-border-radius: 12px;
	          border-radius: 12px;
	background: -webkit-linear-gradient(#dfdfdf 20%, #c7c7c7);
	background:    -moz-linear-gradient(#dfdfdf 20%, #c7c7c7);
	background-position: 0 0;
	-webkit-box-shadow: inset 0px 0px 0px 1px #e5e5e5;
	        box-shadow: inset 0px 0px 0px 1px #e5e5e5;
	color: #333333;
	color: #444444;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px #ffffff;
	font-size: 13px;
	cursor: pointer;
}

.btn:hover {
	background: #dfdfdf;
}

.btn:active {
	outline: 0;
	background: #dfdfdf;
	-webkit-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
	        box-shadow: inset 1px 1px 10px 1px rgba(0, 0, 0, 0.15);
}

.btn-success {
	border: 1px solid #349104;
	  -webkit-border-radius: 12px;
	          border-radius: 12px;
	background: -webkit-linear-gradient(#6ccb2f 20%, #3cb304);
	background:    -moz-linear-gradient(#6ccb2f 20%, #3cb304);
	-webkit-box-shadow: inset 0px 0px 0px 1px #8bce62;
	        box-shadow: inset 0px 0px 0px 1px #8bce62;
	color: #fff;
	text-shadow: 1px 1px #349104;
}

.btn-success:hover, .btn-success:active {
	background: #6ccb2f;
}

.btn-danger {
	border: 1px solid #99051e;
	  -webkit-border-radius: 12px;
	          border-radius: 12px;
	background: -webkit-linear-gradient(#fd3c4f 20%, #e50419);
	background:    -moz-linear-gradient(#fd3c4f 20%, #e50419);
	-webkit-box-shadow: inset 0px 0px 0px 1px #ed5b69;
	        box-shadow: inset 0px 0px 0px 1px #ed5b69;
	color: #fff;
	text-shadow: 1px 1px #99051e;
}

.btn-danger:hover, .btn-danger:active {
	background: #fd3c4f;
}

.btn-call {
	float: right;
	margin: 23px;
}

.right .body .videocall {
	position: relative;
	padding: 10px;
	max-height: 310px;
	height: 100%;
	background: -webkit-linear-gradient(#00003a 20%, #000);
	background:    -moz-linear-gradient(#00003a 20%, #000);
}

.right .body video {
	display: block;
	margin: auto;
	max-height: 290px;
	height: 100%;
}

.right.col.active {
	z-index: 2;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    overflow: hidden;
    border: 0;
    background-color: transparent;
    *text-indent: -9999px;
}

.ir:before {
    display: block;
    width: 0;
    height: 150%;
    content: "";
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
